@{
    ViewBag.Title = "Unauthorized";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div>
        <p>Você foi redirecionado para esta página 
            pois não possui autorização para ver o recurso solicitado</p>
    </div>
</div>
