@{
    ViewBag.Title = "Unauthorized";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <br/>
    <div>
        <h3><span class="label label-warning">Você foi redirecionado para esta página 
            pois não possui autorização para ver o recurso solicitado</span></h3</div>
</div>
