@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <div class="jumbotron" style="max-width: 960px; margin: 0 auto; padding: 0">
        <h1>Olá fornecedor!</h1>
        <p>Este é o nosso canal de comunicação para que você possa nos oferecer seus produtos.</p> 
        <p><a class="btn btn-primary btn-lg" role="button">Cadastre-se e receba nossos pedidos!</a></p>
    </div>
    
    <div class="page-header" style="background-color: #ffffff; border-radius: 7px">
        <ul>
            <li>
                <h1><small>Registre-se de maneira rápida e intuitiva</small></h1>
            </li>
            <li>
                <h1><small>Adicione produtos que você tem disponibilidade de oferecer</small></h1>
            </li>
            <li>
                <h1><small>Defina o preço dos seus produtos</small></h1>
            </li>
            <li>
                <h1><small>Receba nosso pedidos!</small></h1>
            </li>
        </ul>
    </div>
}


