@if (Request.IsAuthenticated) {
    <text>
        Olá, @Html.ActionLink(User.Identity.Name, "Edit", "Usuarios", routeValues: null, htmlAttributes: new { @class = "username", title = "Gerenciar" })!
        @using (Html.BeginForm("LogOff", "Acess", FormMethod.Post, new { id = "logoutForm" })) {
            @Html.AntiForgeryToken()
            <a class="btn btn-default" href="javascript:document.getElementById('logoutForm').submit()">Deslogar</a>
        }
    </text>
} else {
    <ul>
        <li class="btn btn-primary">@Html.ActionLink("Registro", "Create", "Fornecedores", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li class="btn btn-success">@Html.ActionLink("Login", "Index", "Acess", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
