 <ul class="nav nav-pills" style="font-weight: bold;"> 
     <li class="active">@Html.ActionLink("Home", "Index", "Home")</li>
     <li>@Html.ActionLink("Meus Dados", "Edit", "Usuarios")</li>
     <li>@Html.ActionLink("Produtos", "Index", "Produtos")</li>
     <li>@Html.ActionLink("Pedidos", "Index", "Produtos")</li>
 </ul>
